.App {
  text-align: center;
}
.btn-cart{
  height: auto;
  cursor: pointer;
  background: none;
  border:none;
}

.cont-product {
  border: 1px solid #ccc;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  transition: all 0.4s;
}
.cont-product__img {
  overflow: hidden;
  position: relative;
}
.description {
  border-left: 1px solid #ccc;
}
.cont-product__descrip {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}
.sproduct select {
  display: block;
  padding: 5px 10px;
}

.cont-product__img--prod {
  width: auto;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: all 1s;
}

.img-item{
  height: 64px;
  width: 100%;
  object-fit: contain;
}
.grid-products{
  text-align: center;
  gap: 1rem;
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.grid-products article{
  background-color: #ccc;
}
.content-add{
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
}
.items-count{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.items-count button{
  padding: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;

  font-size: 1.5rem;
}

.quantityAdd-button{
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1rem;
}
.btn-cart__img{
 width: 100%;
 max-height: 2rem;
}

.content-navBar{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.navBar-list{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  text-transform: uppercase;
  width: 100%;
  list-style: none;
}
.cont-img{
  border-bottom: 1px solid #ccc;
}
.cont-img--cfg{
  width: 100%;
  max-height: 64px;
  object-fit: contain;

}

.navBar-list__item a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
